
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
</section>

<section class="py-5">
</section>


<section>
    <div class="container">
        <div class="row">
            <h1 class="text-center text-white" style="font-size:60px;">HAKKIMIZDA</h1>
        </div>
    </div>
</section>

<section class="py-5">
</section>

<section class="py-5 opacity-75">
    <div class="container text-white">
        <div>
            <h2>Türkiye'nin S G A'sı</h2>
        </div>
        <div class="py-4 ">
            <h4>
                Türkiye'nin SGA'sı olarak, 32 kategoride, yaklaşık 163 milyon ürün çeşidini müşterilerimizle buluşturuyoruz. Silikon Vadisi ile Kapalı Çarşı kültürünü, veri ile tecrübeyi harmanlayan ekibimizle, aylık yaklaşık beş milyon siparişi müşterilerimize ulaştırıyoruz.*

                Müşteri deneyimini merkeze alan bir felsefeyle, on binlerce işletmeyi bir araya getiren pazaryeri modelimizle, Türkiye'nin ve bölgenin en büyüğü olan Akıllı Operasyon Merkezimizle, sektörün çıtasını yükselten teknolojik çalışmalar yürüttüğümüz Ar-Ge Merkezimizle sektörün gelişimine ve dijital dönüşüme liderlik ediyoruz.

                Yaptığımız yatırımlarla, her biri alanına yenilikçi bakış açısı kazandıran HepsiJet, Hepsiburada Market, HepsiPay, HepsiAd, Hepsiburada Seyahat, HepsiGlobal gibi yeni marka ve hizmetleri hayata geçirerek, tüm paydaşlarımıza ve sektöre fayda sağlayan dev bir "süper uygulama" ekosistemini inşa ediyoruz.

                Bir teknoloji şirketi olarak; teknolojinin yıkıcı değil, yapıcı gücüne odaklanıyoruz. Hepsiyürekten çatısı altında birçok farklı dernek ve sivil toplum kuruluşuna destek veriyor; toplumsal gelişime katkıda bulunuyoruz. 2017'de başlattığımız ve 41 bin girişimciye ulaştığımız Girişimci Kadınlara Teknoloji Gücü programıyla kadınların ekonomiye katılımını destekliyor; e-ticarette kendi işlerini kurma ve büyütme fırsatı sunuyoruz.

                20 yılı aşkın süredir inovasyon ve girişimcilik ruhuyla sürdürdüğümüz yolculukta, bugün Türkiye'nin SGA'sı olarak dünya teknoloji borsası NASDAQ'ta halka arz edilen ilk ve tek Türk şirketi olmaktan gurur duyuyoruz.
            </h4>
        </div>
    </div>
</section>

<section class="py-3">
</section>




<section class="py-5">
</section>


